<div class="row" style="min-height:600px;">
		<div class="col s3" style="width: 250px">
			<div class="collection">
				<a ui-sref="catsoft" class="collection-item">Категории ПО</a>
				<a ui-sref="catsoft" class="collection-item">Справочник</a>
				<a ui-sref="catsoft" class="collection-item">Справочник</a>
				<a ui-sref="catsoft" class="collection-item">Справочник</a>
				<a ui-sref="catsoft" class="collection-item">Справочник</a>
				<a ui-sref="catsoft" class="collection-item">Справочник</a>
				<a ui-sref="catsoft" class="collection-item">Справочник</a>
				<a ui-sref="catsoft" class="collection-item">Справочник</a>
				<a ui-sref="catsoft" class="collection-item">Справочник</a>
			</div>
		</div>
		<div class="col s9">
			<div ui-view></div>
		</div>
</div>
