<h5 class="title-page" ng-init="vm.selectedTab = 6">Фонд оценочных средств</h5>
<div class="row row-bottom-border">
	<form action="#">
		<div class="file-field input-field">
			<div class="btn">
				<span>ФОС. Общая часть</span>
				<input type="file" multiple>
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text" placeholder="Загрузите файл(ы)">
			</div>
		</div>
	</form>
</div>
<div class="row row-bottom-border">
	<form action="#">
		<div class="file-field input-field">
			<div class="btn">
				<span>ФОС по дисциплине</span>
				<input type="file" multiple>
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text" placeholder="Загрузите файл(ы)">
			</div>
		</div>
	</form>
</div>
<!--<div class="row">-->
	<!--<h3>Текущий контроль</h3>-->
	<!--<table class="bordered">-->
		<!--<thead>-->
			<!--<tr>-->
				<!--<th>№</th>-->
				<!--<th>Виды текущего контроля</th>-->
				<!--<th></th>-->
			<!--</tr>-->
		<!--</thead>-->
		<!--<tbody>-->
			<!--<tr>-->
				<!--<th>1</th>-->
				<!--<td>Защита отчетов по лабораторным работам</td>-->
				<!--<td>-->
					<!--<form action="#">-->
						<!--<div class="file-field input-field">-->
							<!--<div class="btn">-->
								<!--<span>Типовые задания по лабораторным работам</span>-->
								<!--<input type="file" multiple>-->
							<!--</div>-->
							<!--<div class="file-path-wrapper">-->
								<!--<input class="file-path validate" type="text" placeholder="Загрузите файл(ы)">-->
							<!--</div>-->
						<!--</div>-->
					<!--</form>					-->
				<!--</td>-->
				<!--<td>-->
					<!--<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>-->
				<!--</td>-->
				<!--<td>-->
					<!--<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>-->
				<!--</td>				-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td>По усмотрению преподавателя</td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<th>2</th>-->
				<!--<td>Контроль знаний в виде тестирования</td>-->
				<!--<td>-->
					<!--<form action="#">-->
						<!--<div class="file-field input-field">-->
							<!--<div class="btn">-->
								<!--<span>Примеры тестовых заданий</span>-->
								<!--<input type="file" multiple>-->
							<!--</div>-->
							<!--<div class="file-path-wrapper">-->
								<!--<input class="file-path validate" type="text" placeholder="Загрузите файл(ы)">-->
							<!--</div>-->
						<!--</div>-->
					<!--</form>-->
				<!--</td>-->
				<!--<td>-->
					<!--<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>-->
				<!--</td>-->
				<!--<td>-->
					<!--<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>-->
				<!--</td>-->
			<!--</tr>-->
		<!--</tbody>-->
	<!--</table>-->
</div>