<nav class="theme-color blue">
	<div class="nav-wrapper">
		<form>
			<div class="input-field">
				<input id="search" type="search" required value="Проектирование информационных систем">
				<label for="search"><i class="material-icons">search</i></label>
				<i class="material-icons">close</i>
			</div>
		</form>
	</div>
</nav>
<ul class="collapsible" data-collapsible="accordion">
  <li>
	<div class="collapsible-header"><span class="badge">магистратура</span><i class="material-icons">description</i>Проектирование информационных систем</div>
	<div class="collapsible-body">
		<table class="striped">
			<thead>
				<tr>
					<th data-field="id">№ п.п.</th>
					<th data-field="name">Профиль</th>
					<th data-field="name">Дата утверждения</th>
					<th data-field="name">Действия</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="center">1</td>
					<td>Автоматизация управления бизнес-процессами и финансами</td>
					<td>25.11.2016</td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Использовать как шаблон" class="btn-floating green" ui-sref="page1"><i class="material-icons">done</i></a>
						<!-- <a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a> -->
					</td>
				</tr>
				<tr>
					<td class="center">2</td>
					<td>Интеллектуальные системы</td>
					<td>11.10.2016</td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Использовать как шаблон" class="btn-floating green" ui-sref="page1"><i class="material-icons">done</i></a>
						<!-- <a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  </li>
<!--   <li>
	<div class="collapsible-header"><span class="badge">бакалавриат</span><i class="material-icons">description</i>Программирование</div>
	<div class="collapsible-body">
		<table class="striped">
			<thead>
				<tr>
					<th data-field="id">№ п.п.</th>
					<th data-field="name">Профиль</th>
					<th data-field="name">Дата утверждения</th>
					<th data-field="name">Действия</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="center">2</td>
					<td>Вычислительные машины, комплексы, системы и сети</td>
					<td>11.10.2016</td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Использовать как шаблон" class="btn-floating green"><i class="material-icons">library_books</i></a>
					</td>
				</tr>
				<tr>
					<td class="center">3</td>
					<td>Разработка программно-информационных систем</td>
					<td></td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Использовать как шаблон" class="btn-floating green"><i class="material-icons">library_books</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  </li>
  <li>
	<div class="collapsible-header"><span class="badge">магистратура</span><i class="material-icons">description</i>Базы данных и экспертные системы</div>
	<div class="collapsible-body">
		<table class="striped">
			<thead>
				<tr>
					<th data-field="id">№ п.п.</th>
					<th data-field="name">Профиль</th>
					<th data-field="name">Дата утверждения</th>
					<th data-field="name">Действия</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="center">1</td>
					<td>Автоматизация управления бизнес-процессами и финансами</td>
					<td>25.01.2016</td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Использовать как шаблон" class="btn-floating green"><i class="material-icons">library_books</i></a>
					</td>
				</tr>
				<tr>
					<td class="center">3</td>
					<td>Интеллектуальные системы</td>
					<td>11.05.2016</td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Использовать как шаблон" class="btn-floating green"><i class="material-icons">library_books</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  </li> -->
</ul>